.container-fluid {
    width: 80%;
    max-width: 2150px;
    margin: 60px auto 0;
    position: relative;
    background: url("../assets/timeline-bg.png") center top repeat-y;
  }

  section {
      padding-top: 30px;
  }
