@import "../../styles/_variables";

.timeline-point{
    width: 100%;
    
    .timeline-point-icon{
        background-color:$red;
        padding:0;
        width: 100px; 
        height: 100px; 
        margin:auto;
        text-align:center;
        display:block;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: transform  0.1s cubic-bezier(0, 1.8, 1, 1.8);
        .text{
            font-family: Verdana;
            color:white;
            position: relative;
            overflow:hidden;
            padding:20px;
            top: 50%;
            -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
            font-size:1vw;
            text-transform:uppercase;
        }

        &.small{
            width: 70px; 
            height: 70px;
        }
    }
    &.small{
        padding-top: 60px;
    }
    
}
